#test1
{
    width: 150px;
    height: 150px;
}
#test2
{
    width: 100px;
    height: 100px;
}
#localVideo
{
    width: 150px;
    height: 150px;
}
#remoteVideo
{
    width: 150px;
    height: 150px;
    
}