#iframe
{
    background-color: white;
    width: 100%;
    height: 90%;
}
.cm-s-dracula.CodeMirror
{
    height: 250px;
}
#test1
{
    width: 150px;
    height: 150px;
}
#test2
{
    width: 100px;
    height: 100px;
}
#localVideo
{
    width: 150px;
    height: 150px;
}
video
{
    width: 150px;
    height: 150px;  
}
.container
{
    max-width: 1170px;
}
.iframe
{
    width: 100%;
    height: 100%;
}
.col-md-5
{
    padding-right: 0px;
    padding-left: 5px;
}
.col-md-3
{
    padding-right: 0px;
}