#localVideo
{
    width: 150px;
    height: 150px;
}
#remoteVideo
{
    width: 150px;
    height: 150px;  
}
 .homepage
{
    text-align: center;
}

.sub-title
{
    max-width: 10000px;
}

.visibleInBack {
	
    position: absolute;
    width: 100%;
    height: 105%;
    z-index: -1;
    background-color: black;
}
.overlap {
	position: relative;
	font-weight: bold;
}
