/* #div1
{
    padding-top: 1.5%;
    padding-bottom: 3%;
    text-align: center;
}
#head1 
{
    font-family: 'Righteous', cursive;
    font-size: 20px;
} */
.App-title
{
    border-bottom: 4px dashed blue;
    font-size: 20px;
}